<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155181837869-7s5b7po5i25uqv0g13fcosa3ru7vjv9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155181837869-7s5b7po5i25uqv0g13fcosa3ru7vjv9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>155181837869-5424bfflj6rve1htbsa4sc8k61gurvrv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0sZIbKPVQbuDohvwTYl08gB9I-AQ9Fc0</string>
	<key>GCM_SENDER_ID</key>
	<string>155181837869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventApp</string>
	<key>PROJECT_ID</key>
	<string>vikings-event-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>vikings-event-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155181837869:ios:958a873f321316f3c1d2a4</string>
</dict>
</plist>